html *
{
   font-family: Arial;
   color: #FFEBEE;
}

html {
  font-size: 25px;background:linear-gradient(to right,rgb(244, 67, 54),rgb(187, 10, 30));
  background:-webkit-linear-gradient(left,rgb(244, 67, 54),rgb(187, 10, 30));
  background:-moz-linear-gradient(left,rgb(244, 67, 54),rgb(187, 10, 30));
  height: 100%;
}

body {
  margin: 0;
}

g * { /*Fix animation being blurry in Chrome*/
  -webkit-transform: translate3d(0,0,0);
}
